.cards-list {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
  width: 100%; 
  overflow-y: auto; 
  height: 70vh;
	scrollbar-width: thin; 	
  scrollbar-color: #c1c1c1 #f0f0f0; 
}

.cards-list::-webkit-scrollbar {
  width: 3px; 
}

.cards-lists::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; 
  border-radius: 4px; 
}

.cards-list::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
  border-radius: 4px; 
	width: 20px;
}

.lista-tarjetas::-webkit-scrollbar-button {
	background-color: transparent;
}

.button-Filters {
	display: inline-block;
	width: 100%;
}

.card {
  position: relative;
  flex: 0 0 calc(33% - 9px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 30px;
  box-shadow: 4px 4px 10px #c1c1c1;
  height: 46%;
}

.card-Simple{
  position: relative;
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.infoCard{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 55%;
}

.title {
  margin: 25px 0;
  text-align: center;
}

.titleText {
  font-size: 10px;
  font-weight: bold;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;  
  position: absolute;
  bottom: 0;
  padding: 10px;
  transform: translateY(-60%);

}

.priceInfo {
  align-self: center;
  text-align: center;
  width: 40%;
  font-weight: bold;
  font-size: 16px;
  padding-top: 5px;
}

.button-View {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background: linear-gradient(to right, #ee764f, #f4b589);
  width: 50%;
  padding: 15px 10px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: transparent;
}


.button-View-SimpleCard {
  position: absolute;
  bottom: 0;
  transform: translateY(-40%);
  background: linear-gradient(to right, #ee764f, #f4b589);
  width: 40%;
  margin-top: 5px;
  padding: 5px 0px;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  border: transparent;
}


.button-View:hover {
	background-color: #f7f7f7;
	border: solid 1px #c3c3c3;
	box-shadow: 4px 4px 10px #c3c3c3;
}

@media (max-width: 900px) {
  .priceInfo {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .title {
    margin: 0;
    text-align: left;
  }

  .priceInfo {
    font-size: 10px;
    text-align: left;
    width: 100%;
  }

  .cards-list {
    flex-wrap: nowrap;
    gap: 0;
    flex-direction: column;
  }
}

@media (max-height: 800px) {
  .card {
    padding: 5px;
    height: 70%;
  }
}

@media (max-height: 500px) {
  .image-restaurant {
    width: 100px;
    height: 100px;
  }

  .card {
    padding: 5px;
    height: 85%;
  }

  .title{
    margin: 5px 0;
    font-size: 12px;
  }
}